* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
   background-image:url("imgs/bows.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
/* Navbar */
.navbar {
  background: linear-gradient(135deg, #aecce6, #81c5e0);
  padding: 14px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 8px 25px rgba(5, 87, 194, 0.3);
}

/* Logo */
.logo {
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
}

/* Nav Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  position: relative;
  transition: 0.3s ease;
  font-family: "retros", sans-serif;
font-weight: 300;
font-style: normal;
}

/* Glow Hover Effect */
.nav-links li a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/* Underline Animation */
.nav-links li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background: white;
  left: 0;
  bottom: -6px;
  transition: 0.3s ease;
  border-radius: 5px;
}

.nav-links li a:hover::after {
  width: 100%;
}

/* Mobile */
@media (max-width: 768px) {
  .nav-links {
    gap: 15px;
  }
}

.logo img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.gift {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.gift:hover {
  transform: scale(1.1);
}
